<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="\src\css\home.css">
  <link rel="stylesheet" href="/src/css/global.css">
  <script src="https://kit.fontawesome.com/48c98e124c.js" crossorigin="anonymous"></script>
  <!-- <script src="../src/js/sidebar.js"></script> -->
  <title>하천네트워크 - 하천을 사랑하는 활동가 모임</title>
</head>
<body>
  <main class="wrapper">
    <div class="pages_home">
      <div class="header">
        <nav class="navbar">
          <a class="logo" href="/pages/home.html"></a>
          <ul>
            <!-- <li><a class="logo"></a></li> -->
            <li><a href="/pages/home.html">홈</a></li>
            <li><a href="/pages/notice.html">공지사항</a></li>
            <li><a href="">단체소개</a></li>
            <li><a href="">활동사항</a></li>
            <li><a href="">소통공간</a></li>
            <li><a href="">회원단체</a></li>
            <!-- <li><a href="/pages/test.html">로그인</a></li> -->
          </ul>
          <a class="togle" href="/pages/login.html">로그인</a>
        </nav>
      </div>
      <div class="m_header">
        <nav class="m_navbar">
          <ul>
            <input type="checkbox" id="menuicon">
              <label for="menuicon">
                <span></span><span></span><span></span></label>
              <div class="m_sidebar">
                <div class="m_search">
                  <input type="text" name="검색" id="m_search">
                  <label for="m_search">검색</label>
                </div>
                <ul class="m_list">
                  <li><a href="/pages/notice.html">공지사항</a></li>
                  <li><a href="">단체소개</a></li>
                  <li><a href="">활동사항</a></li>
                  <li><a href="">소통공간</a></li>
                  <li><a href="">회원단체</a></li>
                </ul>
              </div>
            </a>
            <li><a href="/pages/home.html" class="logo"></a></li>
            <li><a href="/pages/login.html"><i class="fa-solid fa-user"></i></a></li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="home_text1">
          <h2>하천네트워크</h2>
          <p>하천에서 활동하는 시민사회단체의 네트워크입니다.
          <br>모든 강과 하천에서 다양한 활동을 하는 여러분과 함께 "건강한 하천을 보전" 하고자 합니다.</p>
        </div>
      </div>
      <footer class="footer">
        <div class="footer_content">
          <p>
            <span>대표 : ooo</span>
            <span>사업자등록번호 : ---</span>
          </p>
          <p>
            <span>사업장 : 서울특별시 </span>
            <span>대표메일 : @naver.com</span>
          </p>
        </div>
        <p class="copyright">Copyright © 하천네트워크 Korea Corporation All rights reserved.</p>
      </footer>
    </div>
  </main>
  <script src="../src/js/weather.js"></script>
</body>
</html>