<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\src\css\join.css" />
    <link rel="stylesheet" href="/src/css/global.css" />
    <script src="/js/home/login.js" defer></script>
    <script
      src="https://kit.fontawesome.com/48c98e124c.js"
      crossorigin="anonymous"
    ></script>
    <title>하천네트워크 - 회원가입</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="pages_join">
        <div class="header">
          <nav class="navbar">
            <a class="logo" href="/pages/home.html"></a>
            <ul>
              <!-- <li><a class="logo"></a></li> -->
              <li><a href="/pages/home.html">홈</a></li>
              <li><a href="/pages/notice.html">공지사항</a></li>
              <li><a href="">단체소개</a></li>
              <li><a href="">활동사항</a></li>
              <li><a href="">소통공간</a></li>
              <li><a href="">회원단체</a></li>
              <!-- <li><a href="/pages/test.html">로그인</a></li> -->
            </ul>
            <a class="togle" href="/pages/login.html">로그인</a>
          </nav>
        </div>
        <div class="m_header">
          <nav class="m_navbar">
            <ul>
              <input type="checkbox" id="menuicon">
                <label for="menuicon">
                  <span></span><span></span><span></span></label>
                <div class="m_sidebar">
                  <div class="m_search">
                    <input type="text" name="검색" id="m_search">
                    <label for="m_search">검색</label>
                  </div>
                  <ul class="m_list">
                    <li><a href="/pages/notice.html">공지사항</a></li>
                    <li><a href="">단체소개</a></li>
                    <li><a href="">활동사항</a></li>
                    <li><a href="">소통공간</a></li>
                    <li><a href="">회원단체</a></li>
                  </ul>
                </div>
              </a>
              <li><a href="/pages/home.html" class="logo"></a></li>
              <li><a href="/pages/login.html"><i class="fa-solid fa-user"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="main">
          <div class="login_warp">
            <h1>하천네트워크</h1>
            <form class="id_pw_wrap">
              <div class="int-area">
                <input
                  type="text"
                  name="id"
                  id="id"
                  autocomplete="off"
                  maxlength="41"
                />
                <label for="id">아이디</label>
              </div>
              <div class="int-area">
                <input
                  type="password"
                  name="pw"
                  id="pw"
                  autocomplete="off"
                  maxlength="16"
                />
                <label for="pw">비밀번호</label>
              </div>
              <div class="saveid">
                <input type="checkbox" id="chkSaveID" />
                <label for="chkSaveID">ID 저장</label>
              </div>
              <div class="btn-area">
                <button>로그인</button>
              </div>
              <ul class="loginMenu">
                <li>
                  <a href="/pages/join.html" class="join">회원가입</a>
                </li>
                <li>
                  <a href="/schId.html" class="schId">ID 찾기</a>
                </li>
                <li>
                  <a href="" class="schPass">비밀번호 찾기</a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer_content">
          <p>
            <span>대표 : ooo</span>
            <span>사업자등록번호 : ---</span>
          </p>
          <p>
            <span>사업장 : 서울특별시 </span>
            <span>대표메일 : @naver.com</span>
          </p>
        </div>
        <p class="copyright">Copyright © 하천네트워크 Korea Corporation All rights reserved.</p>
      </footer>
    </div>
    <!-- <script src="../src/js/weather.js"></script> -->
  </body>
</html>
